body {
  /* font-family: 'Open Sans Condensed'; */
  background-color: rgb(32, 227, 241);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
